:root{
    --clr-white:white;
}
input [type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;

    
}
input [type="time"]::-webkit-time-picker-indicator{
  display:block;
  top:0;
  left:0;
  background: #0000;
  position:absolute;
  transform: scale(12)
}

.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 5vh;
    background-color: var(--clr-white);
    border-radius: 10px;
    border: 1px solid rgb(228, 228, 228);
    width:45vw;
}

.form-body-inputs{
    display: flex;
}

.form-body{
    display: flex;
    gap: 1.5vw;
}

.reg_body{
    margin-top:3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:75vw;
    padding-bottom: 0!important;
}
.reg_body [type="text"],.reg_body [type="file"],.reg_body select{
    width: 30vw;
}
.reg-body_fields table{
    margin-top: -100px!important;
}
.form-body [type="text"],.form-body [type="file"],.form-body[type="time"],.form-body select{
    width: 30vw;
}
.button-container{
    margin-top: 3vh;
}

.form-body [type="number"],.form-body [type="text"],.form-body [type="file"],.form-body [type="time"],.form-body [type="date"],.form-body select{
    width: 20vw;
}

.nurse-assign-body{
    display: flex;
    align-items: center;
    height: 50vh;
    padding-top: 1vh;
    flex-direction: column;
    
}

.search-bar--class2{
    justify-content: center;
}


.nurse-assign-top{
    display: flex;
    
}

.nurse-list{
    display:flex;
    gap:5vh;
    flex-direction: column;
    align-items: flex-start;
}
.nurse-item{
    min-width:20vw;
    display: flex;
    gap:8px;
    padding:10px;
    align-items: center;
    border:1px solid gainsboro;
    background-color: var(--clr-bg-grey);
    border-radius:3px;
}

.nurse-item img{
    width: 4vw;
    height: 8vh;
    border-radius: 100%;;
    
}

.input-container table{
    border-spacing: 1vw 2vh;
}

.table table{
    border-spacing:0vw 2vh;
}

.nurse-container{
    display: flex;
    justify-content: flex-start;
    gap:2vw;
    align-items: center;
    background-color: var(--clr-bg-grey);
    margin-bottom: 2vh;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 13vh;
    width: 33vw;
    flex-shrink: 0;
    flex-basis: 4vw;
}



/* view channeling page */
.search-bar-container{
    margin-left: 20vw;
    display: flex;

    align-items: center;
    justify-content: center;
}

.upper-container{
    display: flex;
    gap:1.5vw;
    align-items: center;
}


.form-body-adds{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:75vw;
}
.form-body-adds [type="text"],.form-body-adds [type="file"],.form-body-adds select{
    width: 30vw;
}
.form-body-adds button{
    width: 38.5vw;
}
.form-body-adds table{
    border-collapse: separate;
    border-style: hidden;
    border-spacing: 0px 3vh;
}

.check-box{
    margin-left: -10vw;
}

.ad-update-main{
    display: flex;
    justify-content: center;
    align-items: center;
}




/* Notification */

.notification-container{
    margin: 5vh 0;
}
.notification-div{
    width: 100%;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
    margin-bottom: 3vh;

}
.doctor-name{
    margin-bottom: 2vh;
    font-weight: bold;
    font-size: 1.2rem;
}
.time-and-btn{
    margin-top: 1vh;
    display: flex;
    justify-content: space-between;
}
.content-time{
    font-weight: bold;
    margin-top: 12px;
    font-size: 0.8rem;
    height: 15px;
}

.notification-btn{
    display: flex;
    justify-content:flex-end;
}
.notification-btn button{
    border-radius: 10px;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.2);
}
.content{
    display: flex;
    justify-content: flex-start;
    margin-right: 5vw;
    margin-left: 0.2vw;
}

/* .eek-button{
    width:5vw;
    height: 5vh;
    color: red;
} */
/* .delete-btn{
    width:1.5vw;
    height:3vh;
} */

.no-read{
    background-color: #dbf2ff;
}

.noti-icon img{
    border-radius: 0;
    width: 70px;
    display: flex!important;
    cursor: pointer;
}
.msg-count{
    margin-right: 30px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(245, 105, 105);
    position: relative;
    margin-bottom: 40px;
    margin-left: -45px;
    text-align: center;
    line-height: 25px;
    font-size: 0.8rem;
    font-weight: bold;
}
.msg-count-0{
    margin-right: 30px;
    width: 20px;
    height: 20px;
    position: relative;
    margin-bottom: 40px;
    margin-left: -30px;
}



/* admin reports */
.cards{
    margin-top: 20px;
    width: 100%;
    padding: 10px 0 35px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.cards .card{
    padding: 35px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
}
.card:hover{
    background-color: var(--clr-light);
}
.card:hover .number, .card:hover .card-name{
    color: #fff;

}

.number{
    font-size: 40px;
    font-weight: 700;
    color: var(--clr-light);
}

.card-name{
    color: #888;
    font-size: 1.2rem;
    font-weight: 600;
}

.icon-box img{
    height: 40px;
    margin-right: 10px;
}

.charts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-gap: 20px;
}

.charts-2{
    margin: 40px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    grid-gap: 20px;
}

.chart{
    background: #fff;
    padding: 35px 20px;
    border-radius: 10px;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
    width: 100%;
}

.chart h2{
    margin-bottom: 5px;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    color: #666;
}
.reports{
    margin-top: 2vh;
    margin-left: 3vw;
    display: flex;
    gap: 2vw;
}
.reports .btn{
    background-color: var(--clr-light);
    border: none;
    border-radius: 10px;
    padding: 3px 15px;
    cursor: pointer;
    color: white;
}

.chart-topic{
    margin-bottom: 5vh!important;
}
.reports{
    margin-top: 2vh;
    margin-left: 3vw;
    display: flex;
    gap: 2vw;
}
.reports .btn{
    background-color: var(--clr-light);
    border: none;
    border-radius: 10px;
    padding: 3px 15px;
    cursor: pointer;
    color: white;
}



/* update channeling */

.field{
    margin-bottom: 2vh;
}

.update-deatails{
    display: flex;
    gap: 5vw;
    margin-top: 10vh;
    justify-content: center;
    width: 100%;
}

.nurse-assign-body{
    width: 100%;
    padding-top: 0!important;
    text-align: center;
}
.nurse-container{
    margin-left: 1vw!important;
}

.update-deatails .btn-submit{
    position: absolute;
    top: 52vh;
    right: 16vw;
}
.btn-submit button, .open-channeling-btn{
    width: 200px;
    background-color: var(--clr-light);
    padding: 5px 0;
    border: none;
    border-radius: 10px;
    color: white;
}

button:hover{
    scale: 1.05;
}


.open-channeling{
    margin-left: 4vw;
    display: flex;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.open-channeling-date{
    min-width: 20vw;
 
}
.open-channeling-date span{
    margin-left: 0.5vw;
    font-weight: bold;
}

.open-channeling-btn{
    margin-left: 1vw;
    width: 300px;
}
.nurse-error-container{
    color:red;
    display: flex;
    gap:1vw;
}
.nurse-error-container img{
    width:30px;
    height:30px;
}

.instruction{
    position: fixed;
    left:22vw;
    top:20vh;
    background-color:rgb(208, 240, 208);
    border:1px solid rgb(3, 175, 3);
    padding-inline:2vw;
    padding-block:3vh;
    color:rgb(3, 175, 3);
    border-radius:15px;
    z-index:100;
}
.instruction ul{
     display: flex;
    flex-direction: column;
    gap: 10px;
}

.notee::-webkit-datetime-edit-ampm-field {
  display: none;
}

.open-channeling{
    margin-left: 4vw;
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
}

.open-channeling-date{
    width: 16vw;
}
.open-channeling-date span{
    margin-left: 1vw;
    font-weight: bold;
}

.open-channeling-btn{
    margin-left: 1vw;
    width: 300px;
}
/* after */

.upper-update{
    border-radius:10px;
    margin-top: -10vh;
    padding-block: 0.5vh;
}
.lower-update{
    background-color: white;
    border-radius:10px;
    padding-block: 0.5vh; 
    margin-top:1vh; 
}

.desc{
    font-size:18;
    margin-bottom:1.5vh;
}
.width-set{
    max-width:1vw;
}