
:root{
    --clr-white:white;
}
input [type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;

    
}
input [type="time"]::-webkit-time-picker-indicator{
  display:block;
  top:0;
  left:0;
  background: #0000;
  position:absolute;
  transform: scale(12)
}

.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 5vh;
    background-color: var(--clr-white);
    border-radius: 10px;
    border: 1px solid rgb(228, 228, 228);
    width:39vw;
}

.form-body-inputs{
    display: flex;
}

.form-body{
    display: flex;
    gap: 1.5vw;
}

.reg_body{
    margin-top:3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:75vw;
}
.reg_body [type="text"],.reg_body [type="file"],.reg_body select{
    width: 30vw;
}
.form-body [type="text"],.form-body [type="file"],.form-body[type="time"],.form-body select{
    width: 30vw;
}
.button-container{
    margin-top: 3vh;
}

.form-body [type="text"],.form-body [type="file"],.form-body [type="time"],.form-body [type="date"],.form-body select{
    width: 20vw;
}

.nurse-assign-body{
    display: flex;
    align-items: center;
    height: 50vh;
    padding-top: 1vh;
    flex-direction: column;
    
}

.search-bar--class2{
    justify-content: center;
}


.nurse-assign-top{
    display: flex;
    
}

.nurse-list{
    display:flex;
    gap:5vh;
    flex-direction: column;
    align-items: flex-start;
}
.nurse-item{
    width:20vw;
    display: flex;
    gap:8px;
    padding:10px;
    align-items: center;
    border:1px solid var(--clr-grey);
    background-color: var(--clr-bg-grey);
    border-radius:3px;
    
    

}
.nurse-item img{
    width: 4vw;
    height: 8vh;
    border-radius: 100%;;
    
}

.input-container table{
    border-spacing: 1vw 2vh;
}

.table table{
    border-spacing:0vw 2vh;
}

.nurse-container{
    display: flex;
    justify-content: flex-start;
    gap:2vw;
    align-items: center;
    background-color: var(--clr-bg-grey);
    margin-bottom: 2vh;
    overflow: scroll;
    height: 10vh;
    width: 35vw;
    flex-shrink: 0;
    flex-basis: 4vw;
}
/* view channeling page */
.search-bar-container{
    margin-left: 20vw;
    display: flex;

    align-items: center;
    justify-content: center;
}

.upper-container{
    display: flex;
    gap:1.5vw;
    align-items: center;
}


.form-body-adds{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:75vw;
}
.form-body-adds [type="text"],.form-body-adds [type="file"],.form-body-adds select{
    width: 30vw;
}
.form-body-adds button{
    width: 38.5vw;
}
.form-body-adds table{
    border-collapse: separate;
    border-style: hidden;
    border-spacing: 0px 3vh;
}

.check-box{
    margin-left: -10vw;
}

.ad-update-main{
    display: flex;
    justify-content: center;
    align-items: center;
}
