.flex-0{
    display: flex;
    gap:0vw;
}
/* channeling start page */
.column-flex{
    display: flex;
    align-items: center;
    gap:5vh;
    flex-direction: column;
}

.main-detail-title{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:0.5vh;
}
.number-item--white{
    display: flex;
    justify-content: center;
    align-items: center;
    width:5vw;
    height:7vh;
    background-color:var(--clr-white);
    color:var(--clr-dark);
}
.number-item--blue{
    display: flex;
    justify-content: center;
    align-items: center;
    width:5vw;
    height:7vh;
    background-color:var(--clr-dark);
    color:var(--clr-white);
}
.number-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.number-pad{

    display: flex;
    justify-content: center;
    gap:0vw;

}

.scheduled-info{
    display: flex;
    justify-content: right;
    flex-direction: column;
}

.nurse-container{
    display: flex;
    align-items: center;
    gap:1vw;
    background-color: var(--clr-white);
    width: 40vw;
    height: 17vh;
    padding-left:1.5vw ;
    border-radius: 10%;;
    overflow: scroll;
}

.nurse-item{
    display: flex;
    align-items: center;
    gap:0.5vw;
    

}

.nurse-item img{
    width:5vw;
    height: 10vh;
    border-radius: 100%;
}

.start_button{
    font-size:1.1em;
    width:10vw;
}

/* channeling session  */
.asssistance-upper-container{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2vh;
}
.channeling-patient{
    display: flex;
    flex-direction: column;

}
.patient-navigator{
    display: flex;
    align-items: center;   
    gap:1.5vw;

}

.patient-navigator img{
    width: 2vw;
    height: 4vh;
}

.assistance-container{
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
    margin-left: -17vw;
    width: 100vw;
 
    


}
.wrapper--referrals{
    display: flex;
    justify-content: space-between;
    gap:3vw;
}
.assistance-subcontainer{
    padding:3vh;
    background-color: var(--clr-white);
    display: flex;
    flex-direction: column;
    width:45vw;
    min-height: 50vh;
}

.button--class-doc1{
    height:5vh;
    border:2px solid var(--clr-dark);
    border-right: none;
    background-color: var(--clr-white);
    padding-inline:0.5vw;
}
.button--class-doc1:hover,.button--class-doc1:last-child:hover{
    background-color: var(--clr-dark);
    color:var(--clr-white);

}
.button--class-doc1:last-child{
    height:5vh;
    border-right:2px solid var(--clr-dark);
    background-color: var(--clr-white);
}