:root {
    /* colors */
    --clr-dark: #1746A2;
    --clr-light: #38B6FF;
    --clr-white: white;
    --clr-hover: #EEF1FF;
    --clr-grey: rgb(180, 180, 180);
    --clr-font-color: #2c4666;
    --clr-bg-grey: #F8F8F8;
    --clr-error: red;
    --clr-flashmsg-bg: #DAFBE1;
    --clr-flashmsg-brdr: #A1E5B2;
    --clr-button-green: #39d700;
    --clr-card-blue: #AEE2FF;
    --clr-borders: rgb(218, 218, 218);

    /* font-size */
    --fs-200: 1.9rem;
    --fs-100: 1.1rem;
    --fs-50: 0.9rem;


    /*font-family*/
    --ff-primary: sora;
    --ff-sans-cond: sans-serif;
    --ff-sans-normal: sans-serif;

    /*input type*/
    --border-input-type-class1: 1px solid var(--clr-grey);

    /*all button setting*/

    --button-border: 0px solid var(--clr-light);
    --button-border-radius: 5px;


    /*box shadow*/
    --box-shadow-primary: 0px 5px 10px 1px rgba(0, 0, 0, 0.25);
    --box-shadow-secondary: 0px 2px 2px 1px rgba(0, 0, 0, 0.25);
}
.button--class-5{
    font-size: 0.9em;
    color: var(--clr-white);
    background-color: var(--clr-dark);
    border: none;
}
#closebtn{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 50%;
    font-size: 20px;
    color: blueviolet;
    cursor: pointer;
}
.button--class-6{
    background-color: brown;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
    border: none;
    color: aqua;
    box-shadow:  1px 1px 5px rgba(0,0,0,0.4),-1px -1px 5px rgba(0,0,0,0.4);
    ;
}
/* .field-1{
    display: flex;
    flex-direction: column;
    background-color: blue;
    
} */

.popup-container {
    padding-top: 25vh;
    padding-left: 30vh;
    position: fixed;
    height: 100vh;
    width: 100%;
    top:0;
    left: 0;
    background-color: rgb(0, 0, 0,0.8); 
    /* display: none; */
}

.popup-container .modal-form{
    max-width: 50%;
    height: 50vh;
    display: flex;
    flex-direction:column ;
    flex-grow: 1;
    background-color: rgb(92, 159, 226);
    position: relative;
    top:50px ;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 1px 1px 8px rgba(0,0,0,0.2),-1px -1px 8px rgba(0,0,0,0.2);
    border-radius: 5px;

}

.popup-container .modal-form .modal-title{
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(39, 170, 236);
    border-radius: 5px 5px 0 0;
}

.popup-container .modal-form .form-body{
    padding: 5vw;
    position: relative;
}
/* title list select option */
#title_list{
    
    background-color:var(--clr-card-blue);
    margin-left: 17vw;
}
/* edit button */
#edit{
    margin-bottom: 2vw;

}

/* button style */
.btn-1{
    background-color: red;
    border: red;
    color : white;
}
